*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.kotlin/errors/errors-1769442374266.log
/.kotlin/errors/errors-1769442586224.log
/.kotlin/errors/errors-1769443384294.log
/.idea/inspectionProfiles/Project_Default.xml
